@tailwind base;
@tailwind components;
@tailwind utilities;


.background-image-signup{
    background-image: url('../public/images/background-image-second.jpg'); 
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}

@media screen and (max-width: 767px) {
    .background-image-signup {

padding: 40px;
    }
    .class-width-manage{
        width: 300px;
    }
  }